<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:mem:paging;sql.syntax_ora=true</property>
		<property name="connection.user">sa</property>

		<property name="show_sql">true</property>
		<property name="dialet">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="current_session_context_class">thread</property>
	</session-factory>
</hibernate-configuration>