<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- CONSOLE APPENDER -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="przemek" level="DEBUG">
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="NativeCriteriaPerformance" level="DEBUG">
        <appender-ref ref="stdout" />
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>