name: documentation

on:
  push:
    paths:
      - 'docs/**'
      - 'package.json'
      - 'package-lock.json'

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build docs
        run: |
          npm install
          npm run docs:build
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v2.5.0
        env:
          PERSONAL_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./docs/.vuepress/dist
